body {
  background-color: black;
  color: beige;
}

/* barra lateral */
.sidebar {
  height: 100%;
  overflow-y: auto;
}

.tamañoletrita {
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
  color: red;
}

.list-group-item:hover {
  background-color: darkgray !important;
  color: white !important;
}

/* formularios */
.form-admin {
  max-width: 500px;
  margin-top: 20px;
}

.form-admin .form-label {
  color: lightgray;
}

.form-admin .form-control,
.form-admin .form-select,
.form-admin textarea {
  background-color: dimgray;
  color: white;
  border: none;
}

.form-admin textarea {
  resize: vertical;
}

.form-admin button {
  margin-top: 15px;
  background-color: dimgray;
  color: white;
}

.form-admin button:hover {
  background-color: gray;
}

.table-dark th,
.table-dark td {
  border-color: dimgray;
}

.table-dark tbody tr:hover {
  background-color: darkgray;
}

.img-tabla {
  height: 80px;
  width: auto;
  display: block;
  margin: 0 auto;
  border: 0 !important; /* eran para q la preview se mostrara sin bordes pero jamas sirvió la wea */
  outline: 0 !important;  /* eran para q la preview se mostrara sin bordes pero jamas sirvió la wea */
  border-radius: 8px;
  background-color: transparent; /* eran para q la preview se mostrara sin bordes pero jamas sirvió la wea */
}
